body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.contenedor-cuadrados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}


.fila-superior {
    display: flex;
    justify-content: center;
    align-items: center;
}


.cuadrado {
    width: 500px;
    height: 90px;
    background-color: rgb(235, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
}


.cuadrado2 {
    width: 90px;
    height: 90px;
    background-color: rgb(8, 2, 2);
}


input {
    width: 80%;
    height: 30px;
    border: none;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}


.barras {
    display: flex;
    justify-content: center;
    gap: 110px;
    margin-top: 40px;
}


.barra {
    width: 200px;
    height: 20px;
    background-color: gray;
}


.barra2 {
    width: 200px;
    height: 20px;
    background-color: gray;
}


.barra3 {
    width: 200px;
    height: 20px;
    background-color: gray;
}


.barra4 {
    width: 200px;
    height: 20px;
    background-color: gray;
}


.rectangulo {
    width: 100%;
    height: 250px;
    background-color: rgb(100, 149, 237);
    margin-top: 4%;
    position: relative;
}


.contenedor-inferior {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-top: -10px;
}


.cuadro-rectangulo {
    width: 175px;
    height: 175px;
    background-color: lightcyan;
    margin-left: calc(50% - 400px);
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}


.mini-cuadrado {
    background-color: gray;
}


.chico {
    width: 20px;
    height: 20px;
}


.largo {
    width: 120px;
    height: 20px;
}

.rectangulo {
    width: 100%;
    height: 250px;
    background-color: rgb(100, 149, 237);
    margin-top: 4%;
    position: relative;
}

.lineas-container {
    position: absolute;
    top: 30px;
    right: 30%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.linea-negra {
    width: 120%;
    height: 40px;
    background-color: black;
}

.linea-blanca1,
.linea-blanca2 {
    width: 120%;
    height: 15px;
    background-color: rgb(255, 255, 255);
}

.linea-blanca3 {
    width: 80%;
    height: 15px;
    background-color: rgb(255, 255, 255);
}



.cuadro-inferior {
    width: 175px;
    height: 175px;
    background-color: gray;
    position: relative;
}


.izquierda {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.Lineas-Inferiores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
}

.Linea-Inferior1 {
    width: 110px;
    height: 30px;
    background-color: rgb(228, 34, 34);
}

.Linea-Inferior2,
.Linea-Inferior3 {
    width: 110px;
    height: 15px;
    background-color: rgb(255, 255, 255);
}

.Linea-Inferior4 {
    width: 50px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    margin-right: 60px;
}


.medio {
    background-color: lightgreen;
}


.derecha {
    background-color: lightblue;
}

.lineas-bajo-cuadro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: -95px;
    width: 100%;
}

.linea-bajo1 {
    width: 100%;
    height: 10px;
    background-color: rgb(87, 87, 87);
}

.linea-bajo2 {
    width: 100%;
    height: 10px;
    background-color: rgb(146, 146, 146);
}

.linea-bajo3 {
    width: 70%;
    height: 10px;
    background-color: rgb(146, 146, 146);
    margin-right: 51px;
}